<p id="notice"><%= notice %></p>

<h1>Listing Costs</h1>

<table align ="center">
  <thead>
    <tr>
      <th>Category ID</th>
      <th>Amount</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.category_id %></td>
        <td>$<%= cost.amount %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<strong style="color:red;font-size:16px">Total Expenditure = $<%= Cost.sum(:amount)%></strong><br>
<br>
<strong style="color:black"> NEW COSTS CAN BE ADDED IN CATEGORIES PAGE</strong>
<!--<%= link_to 'New Cost', new_cost_path %>-->
