<p id="notice"><%= notice %></p>

<h1>Listing Incomes</h1>

<table align="center">
  <thead>
    <tr>
      <th>Category ID</th>
      <th>Amount</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.category_id %></td>
        <td>$<%= income.amount %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<strong style="color:green;font-size:16px">Total Income  = $<%= Income.sum(:amount)%></strong><br>
<br>
<strong style="color:black"> NEW INCOMES CAN BE ADDED IN CATEGORIES PAGE</strong>
<!--<%= link_to 'New Income', new_income_path %>-->
