<p id="notice"><%= notice %></p>

<h1 align ="center">My Wallet</h1>

<table align="center" font-size:30px;>
  <thead>
    <tr>
      <th>Category Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><strong><%= link_to 'Show', category %></strong></td>
        <td><strong><%= link_to 'Edit', edit_category_path(category) %></strong></td>
        <td><strong><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Total Income  = $<%= Income.sum(:amount)%><br>
Total Expenditure = $<%= Cost.sum(:amount)%><br>
Available Balance = <%=(Income.sum(:amount)-Cost.sum(:amount))%>
<br>
<br>
<% if ((Income.sum(:amount)-Cost.sum(:amount))<100) %>
  <strong style="color:red;font-size:16px" >Your Expenditure reached the limit set(Current Limit Set=$100)</strong>
<% else%>
  <strong style="color:green;font-size:16px" >Your Expenditure is within the limit set(Current Limit Set=$100)</strong>
<%end%>
<br>
<br>
<%= link_to 'Add a New Category', new_category_path %>
