<p id="notice"><%= notice %></p>

<p style="font-size:16px;color:green">
  <strong >Category Name:</strong>
  <strong><%= @category.name %></strong>
</p>

<h2>Add an Income<h2>
  <div id="income_add">
	<% @category.incomes.each do |income|%>
		<%= div_for income do %>
		<p>
			<strong>Income added <%= time_ago_in_words(income.created_at) %> back:</strong><br />
			<%= h(income.amount) %>
		</p>
		<% end %>
	<% end %>
  </div>

  <%=form_for([@category, Income.new]) do |f| %>
  <p><%= f.label :body, "New Income" %><br />
    <%= f.text_area :amount %>
  </p>
  <p><%= f.submit "Add Income" %></p>
  <% end %>

  <h2>Add an Expenditure<h2>
  <div id="cost_add">
	<% @category.costs.each do |cost|%>
		<%= div_for cost do %>
		<p>
			<strong>Expenditure added <%= time_ago_in_words(cost.created_at) %> back:</strong><br />
			<%= h(cost.amount) %>
		</p>
		<% end %>
	<% end %>
  </div>

  <%=form_for([@category, Cost.new]) do |f| %>
  <p><%= f.label :body, "New Cost" %><br />
    <%= f.text_area :amount %>
  </p>
  <p><%= f.submit "Add Cost" %></p>
  <% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
